@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

::selection {
  color: #fff;
  background: #3972f4;;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #EFF1F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(89, 124, 228);
}

.container-fluid {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  height: 35px;
  background: #0070F3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  border: none;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  transition: all .1s;
  &:hover {
    background: #2484f3;
  }
}